$color-green-group-1: #00b8a9;
$color-skin-group-1: #f8f3d4;
$color-pink-group-1: #f6416c;
$color-yellow-group-1: #ffde7d;

$color-pink-group-2: #f23557;
$color-yellow-group-2: #f0d43a;
$color-blue-group-2: #22b2da;
$color-blue-dark-group-2: #3b4a6b;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
