@font-face {
  font-family: "BebasNeue";
  src: url("../assets/fonts/bebasneue/BebasNeue-Regular.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/bebasneue/BebasNeue-Regular.eot")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/bebasneue/BebasNeue-Regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/bebasneue/BebasNeue-Regular.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../assets/fonts/bebasneue/BebasNeue-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "layout/skills";
@import "layout/header";
@import "layout/introduce";
@import "layout/navigation";
@import "layout/grid";
