.project__filter {
  text-align: center;
  opacity: 0;
  @include respond(phone) {
    margin-top: 5rem;
  }
  &.is-visible {
    opacity: 1;
    animation: slide-up-fade-in ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards; /*when the spec is finished*/
  }
}
