.skills__image {
  text-align: center;
  img {
    width: 85%;
  }
}
.skills_details {
  &__items {
    span {
      text-transform: uppercase;
      color: $color-green-group-1;
      font-weight: bold;
      font-size: $font-md;
    }
    font-size: $font-md;
    margin-bottom: 14px;
  }
}
