.screen {
  display: block;
  position: relative;
  z-index: 10;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  text-decoration: none;
  &:hover .tags:before,
  &:hover .tags li {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotateX(0);
  }
  &:hover .imgs {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.bar {
  display: block;
  position: relative;
  height: 24px;
  background-color: #ddd;
  width: 100%;
  color: #6a6a6a;
  z-index: 10;
  h2 {
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    font-family: "MontSerrat", Tahoma, Arial, sans-serif;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.5px;
    color: #8a8a8a;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
  }
  i,
  i:before,
  i:after {
    height: 12px;
    width: 12px;
    display: inline-block;
    background-color: #ff5f57;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 10px;
  }
  i:before {
    content: " ";
    left: 16px;
    background-color: #ffbd2e;
    top: 0;
  }
  i:after {
    content: " ";
    left: 32px;
    background-color: #28ca41;
    top: 0;
  }
}

.main {
  background-size: cover;
  padding-top: 58%;
  position: relative;
  background-position: center center;
  display: block;
  width: 100%;
  border-radius: 0;
  -moz-transform-style: flat;
  -webkit-transform-style: flat;
  transform-style: flat;

  &:before {
    content: "";
    position: absolute;
    z-index: 20;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.75) inset;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .back {
    z-index: 1;
  }
  .imgs {
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(10, 10, 10, 0.7);
      background-blend-mode: luminosity;
    }
    left: -2px;
    width: calc(100% + 4px);
    border-radius: 0;
    opacity: 0;
    z-index: 3;
    overflow: hidden;
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -moz-transform-style: flat;
    -webkit-transform-style: flat;
    transform-style: flat;
    -moz-transition: opacity 0.15s ease-out,
      -moz-transform 0.25s cubic-bezier(0, 0.75, 0, 1);
    -o-transition: opacity 0.15s ease-out,
      -o-transform 0.25s cubic-bezier(0, 0.75, 0, 1);
    -webkit-transition: opacity 0.15s ease-out,
      -webkit-transform 0.25s cubic-bezier(0, 0.75, 0, 1);
    transition: opacity 0.15s ease-out,
      transform 0.25s cubic-bezier(0, 0.75, 0, 1);
  }
  picture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    img {
      max-width: 100%;
      object-fit: cover;
      image-rendering: optimin izeSpeed;
      image-rendering: -moz-crisp-edges;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: optimize-contrast;
      -ms-interpolation-mode: nearest-neighbor;
    }
  }
  .tags {
    opacity: 1;
    position: absolute;
    text-align: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    display: block;
    &:before {
      content: "more..";
      display: block;
      position: absolute;
      text-transform: uppercase;
      bottom: 20px;
      font-weight: 400;
      width: 10rem;
      left: calc(50% - 30px);
      padding: 0 0.5em;
      font-size: $font-md;
      opacity: 0;
      text-align: center;
      border-radius: 3px;
      box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
      background-color: #313131;
      color: #999;
      text-shadow: -1px -1px 0 #3f3f3f, -1px 0 0 #3f3f3f, -1px 1px 0 #3f3f3f,
        0 -1px 0 #3f3f3f, 0 0 0 #3f3f3f, 0 1px 0 #3f3f3f, 1px -1px 0 #3f3f3f,
        1px 0 0 #3f3f3f, 1px 1px 0 #3f3f3f;
      -moz-transform: translate3d(0, 20px, 0);
      -ms-transform: translate3d(0, 20px, 0);
      -webkit-transform: translate3d(0, 20px, 0);
      transform: translate3d(0, 20px, 0);
      -moz-transition: -moz-transform 0.225s cubic-bezier(0.65, 1.55, 0.5, 1.3)
          0.9s,
        opacity 0.1s ease-out 0.9s;
      -o-transition: -o-transform 0.225s cubic-bezier(0.65, 1.55, 0.5, 1.3) 0.9s,
        opacity 0.1s ease-out 0.9s;
      -webkit-transition: -webkit-transform 0.225s
          cubic-bezier(0.65, 1.55, 0.5, 1.3),
        opacity 0.1s ease-out;
      transition: transform 0.225s cubic-bezier(0.65, 1.55, 0.5, 1.3) 0.4s,
        opacity 0.1s ease-out 0.4s;
    }
    div {
      display: block;
      height: 100%;
      margin: 0 auto;
      width: 80%;
      position: relative;
      display: -webkit-flex;
      -webkit-align-items: center;
      display: flex;
      align-items: center;
    }
    ul {
      display: block;
      text-align: center;
      position: relative;
      -moz-transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
    li {
      display: inline-block;
      padding: 0 0.5em;
      background-color: #313131;
      color: #999;
      border-width: 1px 1px 2px 1px;
      border-style: solid;
      border-color: #222;
      border-radius: 3px;
      text-transform: uppercase;
      font-family: "MontSerrat", Tahoma, Arial, sans-serif;
      font-weight: 700;
      font-size: $font-md;
      box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
      margin: 2px;
      opacity: 0;
      position: relative;
      text-shadow: -1px -1px 0 #3f3f3f, -1px 0 0 #3f3f3f, -1px 1px 0 #3f3f3f,
        0 -1px 0 #3f3f3f, 0 0 0 #3f3f3f, 0 1px 0 #3f3f3f, 1px -1px 0 #3f3f3f,
        1px 0 0 #3f3f3f, 1px 1px 0 #3f3f3f;
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-transform-origin: 50% 50% -10px;
      -webkit-transform-origin: 50% 50% -10px;
      transform-origin: 50% 50% -10px;
      -moz-transform-style: flat;
      -webkit-transform-style: flat;
      transform-style: flat;
      -moz-transform: rotateX(92deg);
      -ms-transform: rotateX(92deg);
      -webkit-transform: rotateX(92deg);
      transform: rotateX(92deg);
      -moz-transition: -moz-transform 0.285s cubic-bezier(0.5, 1.5, 0.5, 1.5);
      -o-transition: -o-transform 0.285s cubic-bezier(0.5, 1.5, 0.5, 1.5);
      -webkit-transition: -webkit-transform 0.285s
        cubic-bezier(0.5, 1.5, 0.5, 1.5);
      transition: transform 0.285s cubic-bezier(0.5, 1.5, 0.5, 1.5);
      &:nth-child(1) {
        z-index: 12;
      }
    }
  }
}
