.main-timeline {
  position: relative;
  padding: 30px 0;
  max-width: 114rem;
  margin: 0 auto;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  &:before {
    content: "";
    background-color: $color-blue-group-2;
    height: 100%;
    width: 5px;
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    left: 50%;
  }
  .timeline {
    width: 50%;
    padding: 0 100px 0 0;
    margin: 0 10px 20px 0;
    float: left;
    position: relative;
    z-index: 1;
    &:before {
      content: "";
      background-color: $color-blue-group-2;
      height: 5px;
      width: 80px;
      position: absolute;
      right: 50px;
      top: 50px;
      z-index: -1;
      @include respond(phone) {
        display: none;
      }
    }
    &-content {
      color: #555;
      background-color: #fff;
      text-align: center;
      padding: 0 0 10px;
      border-radius: 20px;
      display: block;
      text-decoration: none;
      box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
    }
    &-year {
      color: #121365;
      background: linear-gradient(to right, #121365, #4546d0);
      font-size: 25px;
      font-weight: 600;
      text-align: center;
      line-height: 100px;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      position: absolute;
      right: -50px;
      top: 0;
      z-index: 1;
      &:before {
        content: "";
        background-color: $color-white;
        height: 80%;
        width: 80%;
        border-radius: 50%;
        transform: translateX(-50%) translateY(-50%);
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: -1;
      }
      @include respond(phone) {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &-icon {
      img {
        width: 10%;
      }
    }
    &,
    &:nth-child(even) {
      @include respond(phone) {
        width: 100% !important;
        padding: 95px 0 0 !important;
        margin: 0 0 20px !important;
        float: none !important;
      }
    }

    &:nth-child(even) {
      padding: 0 0 0 100px;
      margin: 0 0 20px 10px;
      float: right;
    }
    &:nth-child(even):before {
      right: auto;
      left: 50px;
    }
    &:nth-child(even) .timeline-year {
      right: auto;
      left: -50px;
      @include respond(phone) {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &:nth-child(even) .timeline-icon {
      right: auto;
      left: 20px;
    }
    &:nth-child(4n + 2) .timeline-year,
    &:nth-child(4n + 2) .title {
      background: linear-gradient(to right, #fb6894, #fbb508);
    }
    &:nth-child(4n + 2) .timeline-icon {
      color: #fb6894;
    }
    &:nth-child(4n + 3) .timeline-year,
    &:nth-child(4n + 3) .title {
      background: linear-gradient(to right, #4b49c3, #eb66b4);
    }
    &:nth-child(4n + 3) .timeline-icon {
      color: #4b49c3;
    }
  }
  .title {
    color: #fff;
    background: linear-gradient(to right, #121365, #4546d0);
    font-size: $font-md;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px;
    margin: 0 0 10px;
    border-radius: 20px 20px 0 0;
  }
  .description {
    font-size: $font-small;
    letter-spacing: 1px;
    margin: 0 15px;
  }
}
