@import 'tailwindcss';
@import 'tailwindcss-animated';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --padding: 0 50px;
    --text-color: rgb(214, 211, 209);
    --text-dark-color: rgb(127, 129, 136);
    --text-light-color: #6a6a6b;
    --background-secondary: rgb(30, 29, 28);
    --background-light-secondary: rgb(250, 250, 249);
    --border-color: rgb(48, 50, 54);
    --border-light-color: rgb(48, 50, 54);
    --animate-fadeIn: fadeIn 1s ease-in-out infinite;

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
