@import '../styles/sass/variables';
.container {
    width: 100%;
    height: 100%;
    transform-origin: center;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backToHome {
    margin: 3rem 0 0;
}

.content {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
