@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 43%;
  }
}
@keyframes animated-text-tab-port {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}
@keyframes animated-text-secondary {
  from {
    width: 0;
  }
  to {
    width: 29%;
  }
}
@keyframes animated-text-secondary-tab-port {
  from {
    width: 0;
  }
  to {
    width: 45%;
  }
}
/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: $color-pink-group-2;
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes scale-display {
  0% {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@keyframes scale-display--reversed {
  0% {
    display: inline-flex;
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  99% {
    display: inline-flex;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    display: none;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}

@keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    transform: translate(0px, 40px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
